h4 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 33;
}


h5 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
}

.bulletech {
    margin-left: 5px;
}

.image1 {
    margin-right: 20px;
    margin-left: 20px;
}

.hstack {
    display:flex; 
    flex-direction:row;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 40px;
    height: 40spx; 
}

.header {
    height: auto;
    justify-content: space-around;
    display: flex;
    background-color: #B6C0D4;
    width: 100%;
    align-items: center;
}

.container1 {
    padding: 10px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.save-button {
    margin-top: 5vw;
    margin-left: 1vw;
    width: 20vw;
}

input[type=text] {
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

  button {
    border: none;
    background: none;
  }


  
